.composition {
    position:relative;

    &__photo{
        width: 55%;
        -webkit-box-shadow: 0 1.5rem 4rem rgb(0 0 0 / 40%);
        box-shadow: 0 1.5rem 4rem rgb(0 0 0 / 40%);
        border-radius: 2px;
        position: relative;
        z-index: 10;
        -webkit-transition: all .2s;
        transition: all .2s;
        outline-offset: 1rem;

        @include media-breakpoint-up(md) { 
            position: absolute;
         }

        &:hover{
            outline: .2rem solid $color-secondary;
            -webkit-transform: scale(1.05) translateY(-0.5rem);
            transform: scale(1.05) translateY(-0.5rem);
            -webkit-box-shadow: 0 2.5rem 4rem rgb(0 0 0 / 50%);
            box-shadow: 0 2.5rem 4rem rgb(0 0 0 / 50%);
            z-index: 20;
        }

        &--p1{
            left: 0;
            top: -2rem;
        }

        &--p2{
            right: 0;
            top: 0;

              @include media-breakpoint-up(md) { 
                right: 0;
                top: 2rem;
            }
        }

        &--p3{
        
            left: 0;
            top: 0rem;

             @include media-breakpoint-up(md) { 
            left: 20%;
            top: 10rem;
            }
        }
    }

    &__button{
        margin-top: 3rem;

        @include media-breakpoint-up(md) { 
            margin-top: 0;
            }
    }
}