footer {
    margin-top: 5rem;
    background-color:#2c3031;
    color:$color-white;

    a{
        color:$color-white;
    }
}

.footer-copyright{
    background-color: $color-primary-lighter;
    padding: 3rem 0;
}